<div class="large-background-image-container">
    <div class="sign-in-box centered">
      <div id='brand'>
        Pintrospective
      </div>
      <div class="sign-in-form centered">
        <form role="form" action="<%= session_url %>" method="POST">
            <%= auth_token %>

           <div class="form-group">
               <input
                 type="text"
                 id="usernameField"
                 class="form-control"
                 name="user[username]"
                 placeholder="Username">
           </div>

           <div class="form-group">
             <input
               type="password"
               id="passwordField"
               class="form-control"
               name="user[password]"
               placeholder="Password">
           </div>

           <div class="form-group">
               <button
                 type="submit"
                 id="sign-in"
                 class="btn btn-danger red-button">
                 Sign in
               </button>
               <button
                 id="demo"
                 class="btn btn-danger red-button">
                 Guest Login
               </button>
           </div>
        </form>
      </div> <!-- Close of sing-in-form div-->
      <div id="tag-line">
        A Pinterest Inspired Art Retrospective
      </div>
    </div> <!-- Close of sign-in-box -->
</div>