<div>
  <div id="pin-form-wrapper"></div>
  <div id="pin-items"></div>
</div>
<script>
  $('.pin-count').addClass('active');

  var $container = $('#pin-items').isotope({
    itemSelector: '.index-items',
  });
  // layout Isotope again after all images have loaded
  $container.imagesLoaded( function() {
    $container.isotope('layout');
  });
</script>