<div class="container pin-index-itms">

  <div class="row">
    <div id="form-wrapper" class="col-md-3"></div>
    <div id="pin-items"></div>
  </div>
</div>

<script>
  $('.pin-count').addClass('active');
</script>