<div class="pin-form" data-toggle="modal" data-target="#addPinModal">
  <div class="inner-wrapper">
    <div class="plus-img">
      <img src="../assets/pinterest-add.png">
      <span class="add-pin-text">Add a Pin</span>
    </div>
  </div>
</div>