<div class="pin-form" data-toggle="modal" data-target="#addPinModal">
  <div class="inner-wrapper pin-inner-wrapper">
    <div class="plus-img plus-pin">
      <img src="../assets/pinterest-add.png">
      <span class="add-pin-text">Add a Pin</span>
    </div>
  </div>
</div>

<!-- New Pin Modal -->
<div class="modal fade" id="addPinModal" tabindex="-1" role="dialog" aria-labelledby="addPin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content new-pin">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="addPin">Add a Pin from</h4>
        </div>

        <div class="modal-body new-pin">
          <button
            class="btn btn-default from-web"
            data-toggle="modal"
            data-target="#webPinModal"
            data-dismiss="modal">
            <img src="../assets/pinterest-web.png">
            <span class="web">The web</span>
          </button>
          <button
            class="btn btn-default from-comp"
            data-toggle="modal"
            data-target="#uploadPinModal"
            data-dismiss="modal">
            <img src="../assets/pinterest-upload.png">
            <span class="comp">Your computer</span>
          </button>
        </div> <!-- Close of modal body -->

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->

<!-- Upload Pin Modal -->
<div class="modal fade" id="uploadPinModal" tabindex="-1" role="dialog" aria-labelledby="uploadPin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content upload-pin">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4
          class="modal-title"
          id="uploadPin">
          Upload an image right from your computer!
        </h4>
        </div>

        <div class="modal-body pin">
            <button class="btn btn-default">Upload Button Goes Here</button>
            <button
              type="submit"
              class="btn btn-default"
              data-toggle="modal"
              data-target="#pinInfo"
              data-dismiss="modal">
              Next
            </button>
        </div> <!-- Close of modal body -->
    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->

<!-- Web Pin Modal -->
<div class="modal fade" id="webPinModal" tabindex="-1" role="dialog" aria-labelledby="webPin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content upload-pin">

      <form role="form" id="new-pin-form" class="form-horizontal">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4
          class="modal-title"
          id="webPin">
          Add a Pin from a website
        </h4>
        </div>
        <div class="modal-body web-pin">
          <div class="form-group">
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="pin-url"
                name="image[url]"
                placeholder='http:// ...'>
            </div>
            <button
              type="submit"
              id="next-button"
              class="btn btn-default">
              Next
            </button>
          </div> <!-- Close of form group -->
        </div> <!-- Close of modal body -->
      </form>

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->

<!-- Pin Info Modal-->
<div class="modal fade" id="pinInfoModal" tabindex="-1" role="dialog" aria-labelledby="pinInfo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form role="form" id="new-pin-info" class="form-horizontal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="pnInfo">Pinformation</h4>
        </div>

        <div class="modal-body pin">
          <div class="form-group">
            <label
              for="board-desc"
              class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea
                class="form-control"
                id="pin-desc"
                name="pin[description]"
                placeholder="What's this pin all about?"></textarea>
            </div>
          </div>
        </div>

        <div class="modal-footer pin">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal">
            Close
          </button>
          <button
            type="submit"
            id="submit-pin-form"
            class="btn btn-default">
            <img src="../assets/pinterest-pinIt.png">
          </button>
        </div>
      </form>

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->

