  <a href="#/boards/<%= board.id %>">
    <div class="col-md-2">
      <div class="thumbnail">
        <img
          src=""
          class="img-responsive">
        <div class="caption">
          <h3><%= board.escape('title') %></h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </a>