<div class="row board-row">
  <div class="panel panel-default">
    <div class="panel-heading board-title">

      <a href="#/boards/<%= board.id %>">
        <h3
          class="panel-title title">
          <%= board.escape('title') %>
        </h3>
      </a>

    </div>
  </div>
</div>
