  <a href="#/users/<%= board.get('user_id') %>/boards/<%= board.id %>">
    <div class="index-panel">
      <div class="thumbnail">
        <h3 class="title"><%= board.escape('title') %></h3>
        <img
          src="../assets/texture.jpg"
          class="img-responsive"
          id="board-hero">

          <div class="small-imgage-set row">
            <div class="sm-img">
              <img
                src="../assets/51x51.jpg"
                class="img-responsive">
            </div>
           <div class="sm-img ">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </div>
           <div class="sm-img ">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </div>
           <div class="sm-img ">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </div>
           <div class="sm-img ">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </div>
          </div>

        <a
          href="#"
          class="btn btn-default"
          id="edit-board-btn"
          role="button">
          Edit
        </a>
      </div>
    </div>
  </a>