  <a href="#/users/<%= board.get('user_id') %>/boards/<%= board.id %>">
    <div class="index-panel">
      <div class="panel panel-default board-panel">
        <div class="board-item-title">
          <h5><%= board.escape('title') %></h5>
        </div>
        <div class="hero-image">
          <img src="../assets/texture.jpg">
        </div>
        <div class="board-small-image-set">
          <img src="../assets/texture.jpg">
          <img src="../assets/texture.jpg">
          <img src="../assets/texture.jpg">
          <img src="../assets/texture.jpg">
        </div>
        <a
          href="#"
          class="btn btn-default"
          id="edit-board-btn"
          role="button">
          Edit
        </a>
      </div>
    </div>
  </a>