  <a href="#/boards/<%= board.id %>">
    <div class="index-panel">
      <div class="thumbnail">
        <h3 class="title"><%= board.escape('title') %></h3>
        <img
          src="../assets/texture.jpg"
          class="img-responsive"
          id="board-hero">

          <ul class="small-imgage-set">
            <li class="sm-img">
              <img
                src="../assets/51x51.jpg"
                class="img-responsive">
            </li>
           <li class="sm-img">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </li>
           <li class="sm-img">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </li>
           <li class="sm-img">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </li>
           <li class="sm-img">
             <img
               src="../assets/51x51.jpg"
               class="img-responsive">
           </li>
          </ul>

        <a
          href="#"
          class="btn btn-default"
          id="edit-board-btn"
          role="button">
          Edit
        </a>
      </div>
    </div>
  </a>