<div class="board-form" data-toggle="modal" data-target="#addBoardModal">
  <div class="inner-wrapper">
    <div class="plus-img">
      <img src="../assets/pinterest-add.png">
      <span class="create-board-text">Create a Board</span>
    </div>
  </div>
</div>


<!-- New Board Modal -->
<div class="modal fade" id="addBoardModal" tabindex="-1" role="dialog" aria-labelledby="addBoard" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form role="form" id="new-board-form" class="form-horizontal">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="addBoard">Create a Board</h4>
      </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="board-title" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="board-title"
                name="board[title]"
                placeholder='Like "Design Inspiration" or "Favorite Portraits"'>
            </div>
          </div>
          <div class="form-group">
            <label
              for="board-desc"
              class="col-sm-2 control-label">
              Description
            </label>
          <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="board-desc"
                  name="board[description]"
                  placeholder="What's your board about?"></textarea>
              </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal">
            Cancel
          </button>
          <button
            type="submit"
            id="submit-board-form"
            class="btn btn-primary">
            Create Board
          </button>
        </div>
      </form>

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->




