// Variables
$white: #fff;
$background: #e9e9e9;
$dark-background: #e2e2e2;
$dark-text: #666;
$text-box: #faf9f7;
$light-text: #818181;
$box-shadow: #bfbfbf;
$btn-outline: #cecece;
$font: 'Helvetica Neue','Helvetica',arial,sans-serif;
$darker-text: #404040;
$brand: #db4a44;

@font-face {
    font-family: brandFont;
    src: url(vnhltfap.ttf);
}
@font-face {
  font-family: brandFont2;
  src: url(geometria-light.ttf);
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";