/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// variables
$white: #fff;
$background: #e9e9e9;
$text-box: #faf9f7;
$logo-red: #cb2027;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// fonts
@font-face {
    font-family: myBrand;
    src: url(pacifico.ttf);
}
@font-face {
  font-family: myBrand2;
  src: url(terra_narrow_italic.ttf);
}

// general styles
body {
  padding-top: 70px;
  background-color: $background;
}
#new-user-form {
  width: 300px;
}

// navbar styles
#nav {
  margin: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 1px #bfbfbf;
}
.navbar {
  min-height: 55px;
}

#nav-backdrop {
  padding-top: 10px;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  height: 29px;
  overflow: visible;
  padding: 7px 0 0;
  position: fixed;
  z-index: 680;
  width: 100%;
}
.left-nav {
  display: inline-block;
  width: 80%;
  float: left;
  margin-left: 7px;
  margin-top: 3px;
}
.right-nav {
  float: right;
  margin-right: 7px;
  width: 236px;
  display: inline-block;
  margin-top: 3px;
}
.right-header {
  background-color: #fff;
  float: right;
  width: 100%;
}
.left-header {
  float: left;
  width: 100%;
}
.right-icon,
.user-info,
.logo-icon,
.menu-icon,
.search-dropdown,
.large-section-divider > button {
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  height: 34px;
}
.right-icon,
.menu-icon {
  border-radius: 0 6px 6px 0;
  width: 41px;
  float: right;
}
.user-info,
.search-dropdown {
  border-radius: 6px 0 0 6px;
  height: 34px;
  width: 195px;
  padding: 0;
  text-align: left;
}
.logo-icon {
  border-radius: 6px 0 0 6px;
  float: left;
  width: 41px;
}
.menu-icon{
  float: none;
}
.profile-name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 0 6px;
  color: #818181;
  margin-left: 30px;
}
.search-container {
  margin-right: 46px;
  box-sizing: border-box;
  float: left;
  height: 34px;
  position: relative;
  text-align: left;
  width: 100%;
}
.search {
  width: 100%;
}
.search-wrapper {
  width: 100%;
}
.search-dropdown {
  border-radius: 0;
  width: 898px;
  display: inline-block;
  float: left;
  background-color: $background;
}
// User Board Index
.user-image > img {
  border-radius: 6px 0 0 6px;
  min-height: 153px;
}
.user-image {
  padding-right: 0;
  height: 100px;
}
.user-name,
.side-note {
  background-color: $white;
  height: 100%;
  left-margin: 0;
  border-radius: 0 6px 6px 0;
}
.side-note {
  margin-left: 15px;
  border-radius: 6px;
  width: 238px;
}
.img-responsive,
.user-name,
.side-note {
  box-shadow: 1px 1px 1px #bfbfbf;
}

.index-header {
  height: 153px;
  margin-bottom: 30px;
  margin-left: 120px;

}
.header-container {
  height: 148px;
  margin-bottom: 15px;
}
.large-section-divider {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  margin-left: -5px;
}
#wide {
  width: 742px;
}
.large-section-divider > button {
  width: 91px;
  height: 45px;
  color: $background;
  box-shadow: 1px 1px 1px #bfbfbf;
}
#long-btn {
  width: 112px;
}
// Board Index Formatting
.index-items {
  float: left;
  display: inline-block;
}
.index-itms {
  width: 100%;
}
.thumbnail > img {
  width: 40px;
  height: 40px;
}
.thumbnail {
  width: 100%;
}

// Pin Formatting
#pin-form {
  height: 284px;
}
.add-form {
  height: 100%;
}
.add-plus > i {
  display: block;
  margin: 0px auto 20px;
  height: 48px;
  width: 48px;
  background: image-url('pinterest-sprites.png') 0 0 no-repeat;
  background-position: 0px, 0px;
}
