/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "utilities/variables";

/* ************************************************************

  General Formatting

************************************************************ */

html {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 55px;
  background-color: $background;
  color: $dark-text;
  font-family: $font;
}
:focus {
  outline: none;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
}
#new-user-form {
  width: 300px;
}
a:hover {
  text-decoration: none;
}
.btn {
  font-size: 0.9em;
}
.btn-default {
  background-color: #f7f7f7;
  background: -webkit-linear-gradient(#fff, #f0f0f0);
  background: linear-gradient(#fff, #f0f0f0);
  text-shadow: 0 1px #fff;
}
img#pin-img {
  cursor: default;
}
// About Me
div#aboutMe {
  color: $light-text;
  .modal-content {
    width: 100%;
  }
  .modal-dialog {
    width: 23.6%;
  }
  img {
    padding: 0;
  }
  div#about-me {
    width: 50%;
    padding: 15px 10px;
  }
  p {
    text-align: left;
    margin-bottom: 0;
  }
  span {
    font-weight: 500;
    color: $dark-text;
  }
}
#aboutP {
   display: inline-block;
}


/* ************************************************************

  Header Formatting

************************************************************ */

#nav {
  margin: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 1px $box-shadow;
}
.navbar {
  min-height: 55px;
}
#nav-backdrop {
  padding-top: 10px;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  height: 29px;
  overflow: visible;
  padding: 7px 0 0;
  position: fixed;
  z-index: 680;
  width: 100%;
}
a.pin-logo,
button.pin-pin,
.dropdown-toggle {
  img {
    height: 24px;
    width: 23px;
  }
  width: 42px;
  padding: 2px 0 0 0;
  background: linear-gradient(#fff, #eee);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}
a.pin-logo {
  padding-top: 4px;
}
button.pin-menu {
  img {
    height: 14px;
    width: 25px;
  }
  width: 46px;
  padding: 0;
  background: linear-gradient(#fff, #eee);
  border-radius: 0 6px 6px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}
button.pin-pin img{
  height: 22px;
  width: 22px;
}
.dropdown-menu.dropdown-menu-right.cats {
  margin-right: -50px;
  padding-left: 0;
}
.dropdown-menu-right.cats:hover {
  background: $white;
}
.header-left,
.header-right {
  margin: 3px 0 0 15px;
  padding-left: 10px;
  display: inline-block;
  span,
  button,
  a,
  #wider {
    height: 34px;
    box-shadow: none;
  }
  #wider {
    border-radius: 0;
    border-bottom: 1px solid $btn-outline;
    width: 90%;
  }
  :nth-child(3) {
    box-shadow: none;
  }
}
.header-left {
  width: 78.5%;
}
.header-right {
  display: inline-block;
//  margin-right: 20px;
  float: right;
  margin-left: 0;
  width: 20%;
  padding: 0;
  .right-side {
    float: left;
  }
}
.dropdown-menu-right {
  p {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    a {
      padding: 0;
      color: $dark-text;
      font-size: 1.1em;
      width: 100%;
    }
    a:hover,
    li:hover {
      border-radius: 6px;
    }
  }
}
ul.dropdown-menu.log-about {
  padding:0;
  li > a {
    padding: 0;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
  }
}
.username {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 0 0 6px;
  color: $light-text;
  width: 193px;
  background: linear-gradient(#fff, #eee);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  border-radius-right-top: 0;
  p {
    float: left;
    padding-left: 5px;
  }
  img {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 4px;
    margin-left: 3px;
  }
  a {
    width: 100%;
    height: 100%;
  }
}
.open > .btn-default.dropdown-toggle:focus  {
  color: $light-text;
}
#log-out {
  margin-left: -7px;
}
.open ul {
  padding-left: 30px;
  padding-bottom: 0;
  li a {
    color: $light-text;
  }
  li a:hover {
    color: $dark-text;
  }
}
/* ************************************************************

  Pin Zoom View Formatting

************************************************************ */

.pinLg {
  padding: 0;
  display: inline-block;
  img {
    border-radius: 6px 6px 0 0;
    padding: 35px;
    background: $background;
  }
}
.pinContent {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  .panel-body p {
    text-align: left;
  }
}
.pinner-id p,
.pinner-id {
  color: $dark-text;
  cursor: pointer;
}
.pinner {
  text-align: left;
  margin-top: 5px;
  display: inline-block;
  float: left;
}
.pin-user-img,
img.pin-user,
.pin-user-thumnb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
#pinZoom {
  .modal-dialog {
    width: 0;
  }
  .modal-lg {
    width: 0;
  }
  .modal-footer {
    padding: 0;
    padding: 6px 15px 4px 15px;
  }
}
#pinner-id {
  float: left;
  img {
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }
  p.pinner {
    margin: 5px 0 0 0;
  }
  p.pin-board {
    font-size: 0.9em;
  }
}
.edit-pin-btn {
  margin-bottom: 0;
  margin-top: 9px;
}
#cancel {
  margin-top: 5px;
}
