/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "variables";

/* ************************************************************

  General Formatting

************************************************************ */

html {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 55px;
  background-color: $background;
  color: $dark-text;
  font-family: $font;
}
:focus {
  outline: none;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
}
#new-user-form {
  width: 300px;
}
a:hover {
  text-decoration: none;
}
.btn {
  font-size: 0.9em;
}
.btn-default {
  background-color: #f7f7f7;
  background: -webkit-linear-gradient(#fff, #f0f0f0);
  background: linear-gradient(#fff, #f0f0f0);
  text-shadow: 0 1px #fff;
}
img#pin-img {
  cursor: default;
}
.red-button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-linear-gradient(#e3262e, #ab171e);
  background-image: linear-gradient(#e3262e, #ab171e);
  background-color: #ab171e;
  border-bottom-color: #820a0f;
  border-left-color: #9a1015;
  border-right-color: #9a1015;
  border-top-color: #af151b;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.11);
}
.btn-danger.red-button:focus {
  outline: none;
}

/* ************************************************************

  About Me Formatting

************************************************************ */

div#aboutMe {
  color: $light-text;
  .modal-content {
    width: 100%;
  }
  .modal-dialog {
    width: 23.6%;
  }
  img {
    padding: 0;
  }
  div#about-me {
    width: 50%;
    padding: 15px 10px;
  }
  p {
    text-align: left;
    margin-bottom: 0;
  }
  span {
    font-weight: 500;
    color: $dark-text;
  }
}
#aboutP {
   display: inline-block;
}


/* ************************************************************

  Header Formatting

************************************************************ */

#nav {
  margin: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 1px $box-shadow;
  padding-top: 4px;
}
.navbar {
  min-height: 55px;
}
#nav-backdrop {
  padding-top: 10px;
  overflow: hidden;
  transform: translateZ(0);
  display: block;
  height: 29px;
  overflow: visible;
  padding: 7px 0 0;
  position: fixed;
  z-index: 680;
  width: 100%;
}
header {
  padding: 0 15px;
}
.left {
  display: inline;
  #pin-button {
    float: left;
    display: inline-block;
    .pin-logo {
      height: 34px;
      padding: 4px 9px;
      width: 42px;
      border-radius: 6px 0 0 6px;
        img {
          height: 24px;
          width: 23px;
        }
    }
  }
  #wider {
    width: 73%;
    height: 44px;
    display: inline-block;
    float: left;
    border-radius: 0;
    border-left: none;
    border-right: none;
    background: $background;
    height: 34px;
  }
  #category-list {
    border-radius: 0 6px 6px 0;
    height: 34px;
    padding: 4px 9px;
    width: 42px;
    img {
      height: 14px;
      width: 25px;
    }
  }
}
.right {
  float: right;
  .current-user {
    display: inline-block;
    height: 34px;
    width: 193px;
    border-radius: 6px 0 0 6px;
    text-align: left;
    padding: 0;
    :hover {
      color: $dark-text;
    }
  }
  .username {
    display: inline-block;
    font-weight: 500;
    color: $light-text;
    font-size: 1.2em;
    margin-top: 5px;
  }
  .current-user-image {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 0 3px 4px 8px;
  }
  #log-out {
    float: right;
    border-radius: 0 6px 6px 0;
    border-left: none;
    height: 34px;
    padding: 4px 9px;
    width: 42px;
    img {
      height: 22px;
      width: 22px;
    }
  }
  .log-about {
    margin-top: 17px;
    a {
      color: $dark-text;
    }
  }
}
.dropdown-menu-right.cats {
  margin: 17px 210px 0 0;
  text-align: center;
  padding-top: 3px 0 0 2px;
  cursor: pointer;
  width: 100px;
  a {
    padding: 3px 0;
    color: $dark-text;
    font-size: 1.1em;
    width: 100%;
  }
}

/* ************************************************************

  Pin Zoom View Formatting

************************************************************ */

.pinLg {
  padding: 0;
  display: inline-block;
  img {
    border-radius: 6px 6px 0 0;
    padding: 35px;
    background: $background;
  }
}
.pinContent {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  .panel-body p {
    text-align: left;
  }
}
.pinner-id p,
.pinner-id {
  color: $dark-text;
  cursor: pointer;
}
.pinner {
  text-align: left;
  margin-top: 5px;
  display: inline-block;
  float: left;
}
.pin-user-img,
img.pin-user,
.pin-user-thumnb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
#pinZoom {
  .modal-dialog {
    width: 0;
  }
  .modal-lg {
    width: 0;
  }
  .modal-footer {
    padding: 0;
    padding: 6px 15px 4px 15px;
  }
}
#pinner-id {
  float: left;
  img {
    height: 40px;
    width: 40px;
    margin-top: 4px;
  }
  p.pinner {
    margin: 5px 0 0 0;
  }
  p.pin-board {
    font-size: 0.9em;
  }
}
.edit-pin-btn {
  margin-bottom: 0;
  margin-top: 9px;
}
#cancel {
  margin-top: 5px;
}
