@import "variables";

/* ************************************************************

  Followers / Following Formatting

************************************************************ */

.boards-count,
.pins-count {
  display: inline-block;
  background: $background;
  color: $dark-text;
  width: 40%;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  padding-top: 5px;
  outline: $btn-outline;
}
.boards-count {
  margin-left: 15px;
}
.pins-count {
  float: right;
  margin-right: 15px;
}
