@import "variables";

/* ************************************************************

  User Show Formatting

************************************************************ */

.user-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 47.5%;
  box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48),0 0 0 1px rgba(0, 0, 0, 0.14),0 0 0 8px white;
  display: inline-block;
  z-index: 100;
}
#about-user {
  height: 230px;
  background: $white;
  border-bottom: solid 1px $light-hr;
  text-align: center;
  div:nth-child(2) {
    position: fixed;
  }
  .user-name {
    color: $darker-text;
    margin-top: 90px;
  }
  .location-wrapper {
    font-size: 0.8em;
    color: $lighter-text;
    margin-right: 5px;
    margin-bottom: 10px;
    .user-location {
      display: inline-block;
      font-size: 1em;
    }
  }
}
.fixed-header {
  top: 55px;
  height: 69px;
  border-bottom: solid 1px $light-hr;
  z-index: 50;
  background: $white;
  button {
    float: right;
    color: $white;
    font-weight: 600;
    font-size: 11px;
    margin-top: 18px;
    margin-right: 6px;
    height: 33px;
    padding: 8px 14px;
  }
  #edit-user-profile {
    color: $dark-text;
  }
  .on-scroll {
    display: none;
    float: left;
    margin-top: 18px;
    margin-left: 10px;
  }
  .small-user-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48),0 0 0 1px rgba(0, 0, 0, 0.14);
  }
  .small-user-name {
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    color: $darker-text;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
  }
}
.counts {
  height: 59px;
  background: $white;
  box-shadow: 1px 1px 1px $box-shadow;
  text-align: center;
  * {
    display: inline-block;
  }
  ul {
    display: table;
    table-layout: fixed;
    margin: auto;
    padding: 0;
    li {
      width: 120px;
      padding: 14px 0;
      a.active {
        span {
          color: $brand-text;
        }
      }
      a:hover {
        cursor: pointer;
        span {
          color: $brand-text;
        }
      }
    }
  }
  .value {
    color: #aaa;
    display: block;
    font-weight: bold;
    padding: 0;
    font-size: 16px;
  }
  .label {
    color: #9a9a9a;
    display: block;
    font-weight: normal;
    font-size: 11px;
    padding: 0;
  }
}

/* ************************************************************

  Edit User Modal Formatting

************************************************************ */

#user-img {
  img {
    width: 75px;
    height: 75px;
    margin-left: 15px;
    border-radius: 6px;
    display: inline-block;
    float: left;
  }
}
label#about-you {
  padding-left: 0;
}
.user-photo {
  float: right;
  margin-right: 260px;
  margin-top: -50px;
  background: linear-gradient(#f3f3f3, #e5e5e5);
  box-shadow: 0 1px 0 $box-shadow;
}
.upload-img {
  margin-top: 23px;
  margin-left: 20px;
}
#submit-user-edit-form {
  margin-top: 0;
}

