<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
<div id="nav-backdrop">


  <div class="btn-group header-left">
    <a
      href="/"
      type="button"
      class="btn btn-default pin-logo">
      <img src="../assets/pinterest-logo.png">
    </a>
    <span id="wider"></span>
    <button
      type="button"
      class="btn btn-default pin-menu">
    <img src="../assets/pinterest-menu.png">
    </button>
  </div>

  <div class="header-right">
    <a href="#/users/<%= current_user.id %>">
      <div class="btn-group right-side">
        <button
          type="button"
          class="btn btn-default username">
          <img src="../assets/petry-550-440.jpg">
          <% if current_user %>
            <p><%= current_user.username %></p>
          <% end %>
        </button>

        <button
            type="button"
            class="btn btn-default  pin-pin">
          <img src="../assets/pinterest-pin.png">
        </button>
      </div> <!-- Close of btn-group header-right-->
    </a>
  </div>



</div>
</nav>

