<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
<div id="nav-backdrop">


  <div class="btn-group header-left">
    <button
      type="button"
      class="btn btn-default pin-logo">
      <img src="../assets/pinterest-logo.png">
    </button>
    <span id="wider"></span>
    <button
      type="button"
      class="btn btn-default pin-menu">
    <img src="../assets/pinterest-menu.png">
    </button>
  </div>

  <a href="#/users/<%= current_user.id %>">
    <div class="btn-group header-right">
      <button
        type="button"
        class="btn btn-default username">
        <span class="glyphicon glyphicon-heart-empty heart"></span>
        <% if current_user %>
          <%= current_user.username %>
        <% end %>
      </button>
      <button
        type="button"
        class="btn btn-default pin-pin">
      <img src="../assets/pinterest-pin.png">
      </button>
    </div>
  </a>



</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
