<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
<div id="nav-backdrop">



  <div class="left-nav" id="nav-info">
    <div class="search-container">
      <div class="dropdown search">
          <button class="logo-icon btn btn-default"></button>
          <div class="search-wrapper">
            <button class="dropdown search-dropdown"></button>
          </div>
          <button class="menu-icon btn btn-defalut">
      </div>
    </div>
  </div>


  <div class="right-nav">
    <div class="right-header">

      <button class="right-icon btn btn-default"></button>
      <button class="user-info btn btn-defalut">
        <span
          class="profile-name">
          <%= current_user.username.capitalize %>
        </span>
      </button>

    </div>
  </div>
</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
